<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-s
cale=1.0">
<title>{{ user.name }}'s Watchlist</title>
<link rel="icon" href="../static/favicon.ico">
<link rel="stylesheet" href="../static/style.css" type="text/css">
{% endblock %}
</head>
<body>
<h2>
<img alt="Avatar" class="avatar" src="../static/images/avatar.png">
{{ user.name }}'s Watchlist
</h2>
<nav class="navigator">
<ul>
<li><a href="../">Home</a></li>
</ul>
</nav>
{% block content %}

{% endblock %}
<footer>
<small>&copy; 2018 <a href="http://helloflask.com/tutori
al">HelloFlask</a></small>
</footer>
</body>
</html>
